In [ ]:
x=4
y=5
z=x+y
print(z)

In [ ]:
print("hello nida")

In [ ]:
print("baai nida")

In [ ]:
x=7
y=10
print(x/y)

In [ ]:
x=3.9
y=10
print(y//x)

In [ ]:
if 5>2:
   print("5is greates")

In [ ]:
print("pyton is intertesting")

In [ ]:
print("pyton is interesting")
print(75)

In [ ]:
salary=2000
print(salary)

In [ ]:
x=8 #integer
print(x)

In [ ]:
x=67
print(type(x))

In [ ]:
x=6.7
print(type(x))

In [ ]:
z="lubna"
print(type(z))

In [ ]:
if 5>2:
    print("5 is greates")

In [ ]:
x=y=z="orange"
print(x,y,z)

In [ ]:
x="apple"
y="orange"
z="banana"
print(x+y)

In [ ]:
for i in range(200):
    print("love u babe")

In [ ]:
for i in range(1000):
    print("baaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaai")

In [ ]:
x=10;
x+=4
print(x)

In [ ]:
x-=4
print(x)

In [ ]:
x%=5
print(x)

In [ ]:
text="  lubn  a "
print(text[2])

In [ ]:
print(text[1:4])

In [ ]:
print(len(text))

In [ ]:
print(text.strip())

In [ ]:
print(text.upper())

In [ ]:
print(text.lower())

In [ ]:
print(text.replace("l","k"))

In [ ]:
print(text.replace("k","l"))

In [ ]:
name="lubna"
age=22
text="my name is {} , i am {} years old"
print(text.format(name,age))

In [ ]:
list1=[ "apple","orange","banana" ]
print(list1)

In [ ]:
print(list1[2])

In [ ]:
list2=[1,2,3]
print(list1+list2)

In [ ]:
for i in list2:
    print(i)

In [ ]:
list2.append(5)
print(list2)

In [ ]:
list2.append(5)
print(list2)

In [ ]:
list2.remove(5)
print(list2)

In [ ]:
list2.insert(1,5)
print(list2)

In [ ]:
list2.clear()
print(list2)

In [ ]:
set1={1,3,4,5}
print(set1)

In [ ]:
tuple1=("apple","orange","mango")
print(tuple1)

In [ ]:
print(tuple1[0])

In [ ]:
for i in tuple1:
    print(i)

In [ ]:
set1={1,3,4,5}
print(set1)

In [ ]:
print(len(set1))

In [ ]:
set1.add(6)
print(set1)

In [ ]:
list=[7,8,9]
set1.update(list)
print(set1)

In [ ]:
set1.remove(7)
print(set1)

In [ ]:
set1.discard(8)
print(set1)

In [ ]:
set3={8,9,10}
set2=set1.union(set3)
print(set2)

In [ ]:
set2.clear()
print(set2)

In [ ]:
del set2

In [ ]:
thisdict={
  "name": "lubna",
    "age": 22
}
print(thisdict)

In [ ]:
thisdict=dict(place="kannnur",phone=23475901275)
print(thisdict)

In [ ]:
print(thisdict["place"])

In [ ]:
print(thisdict.values())

In [ ]:
print(len(thisdict))

In [ ]:
print(thisdict.get("phone"))

In [ ]:
thisdict["place"]="adoor"
print(thisdict)

In [ ]:
thisdict["name"]="lubna"
print(thisdict)

In [ ]:
thisdict.update({"name":"nida"})
print(thisdict)

In [ ]:
thisdict.pop("phone")
print(thisdict)

In [ ]:
thisdict["phome"]=24680892748
print(thisdict)

In [ ]:
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict.clear()
print(thisdict)

In [ ]:
del thisdict

In [ ]:
age=int(input())
if age<18:
    print("you are not eligible")
else:
    print("you are eligible")

In [ ]:
n=int(input())
if n % 2 == 1 :
    print(" n is odd")
else:
    print("n is even")

In [ ]:
mark=int(input("Enter the mark:"))
if 85 <= mark  <= 100 :
    print("congrats you got A grade")
elif 60 > mark <= 85 :
    print("you scored grade B+")
elif 40< mark <=60:
    print("you scored grade B")
elif 30<mark <= 40:
    print("you scored grade C")
else:
    print(" sorry you failed")

In [ ]:
#first 10 natural number
for i in range(1,11):
    print(i)

In [ ]:
#all the even numbers with in the range
for i  in range(10):
    if i % 2 ==0:
     print(i )

In [ ]:
#calculate sum of all numbersa from 1 to a given number
n=int (input("enter the range:"))
s=0
for i in range(1 , n + 1):
    s=s+i
print(s)

In [ ]:
#sum of all odd numbers within the given range
n=int(input("Enter the range:"))
s=0
for i in range(1, n+1):
    if i % 2  != 0:
        s=s+i
print(s)

In [ ]:
#Find Vowels in a string
n=input("name: ")
s=0
for i in n:
    if i.lower() in ["a","i","o","e","u"]:
        s=s+1
print(s)

In [ ]:
n=input("name: ")
t=0
s=["a","i","o","e","u"]
for i in n:
    if i in s:
        t=t+1
print(t)

In [ ]:
l=["man","women","trans"]
for i in range(len(l)):
    print(i)
    i=i+2

In [ ]:
#prime number
n=int(input("No: "))
for i in range(2,n):
    if n%i==0:
        print("Not Prime!!!")
        break
else:
    print("Prime Number")

In [ ]:
#multiplication table of given number
n=int(input("Enter the number:"))
print("The multiplication table of:",n)
for num in range(1,11):
    print(n,'x',num,'=',n*num)

In [ ]:
#display numbers from list using for loop
list1=[1,5,6,7,9,10]
for i in list1:
    print(i)

In [ ]:
#to count the total number of digits in a number
n=str(input("enter the number:"))
sum=0
for i in n:
    sum=sum+1
print(sum)

In [ ]:
#factorial of A NUMBER
n=int(input("Enter the number:"))
fact= 1
for i in range(1,n+1):
    fact=fact*i
print(n,"!=",fact)

In [ ]:
name=input("Eter the name:")
print(name)

In [ ]:
age=input("Enter the age:")
print(age)

In [ ]:
a=int(input("enter the number:"))
if a>0:
    print("it is a positive number")
else:
    print("it is a negative number")

In [ ]:
name="lubna"
print(name[1])
print(name[3])
print(name[-1])
print(name[-4])

In [ ]:
#Fibonacci
x=int(input(":"))
a=0
b=1
for i in range(2,x+1):
        print(a)
        a,b=b,a+b

In [ ]:
#sum of digit using for loop
n=input("Enter the no: ")
s=0
for i in n:
    s+=int(i)
print(s)

In [ ]:
#fibonacci
n=int(input("Enter the number:"))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

In [ ]:
#count vowels in a string
s=input("Enter string:")
count = 0
vowels = set("aeiou")
for letter in s:
    if letter in vowels:
     count += 1
print("Count of the vowels is:")
print(count)

In [ ]:
#area of a circle with given radius
r=float(input("Enter the radius"))
area=3.14*r*r
print(area)

In [ ]:
#program that accepts the users first and last name and prints them in reverse order with a space between them
n=input("first name:")
m=input("second name:")
print(n[::-1],m[::-1])

In [ ]:
#volume of a sphere with raDIUS six
r=6
v=4/3*3.14*r*r*r
print(v)

In [ ]:
#program to count the number 4 in a given list
def list_count_4(nums):
    count = 0  
    for num in nums:
        if num == 4:
            count = count + 1
    return count

print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

In [ ]:
#find max of three number
a=input("a:")
b=input("b:")
c=input("c:")
if a>=b and b>=c:
    print(a,"is greatest")
elif b>=a and b>=c:
    print(b,"is greatest")
else:
    print(c,"is greatest")

In [ ]:
#print lis in reverse order
list=[3,5,6,7,89,1]
print(list[::-1])

In [ ]:
#display number from -10 tom -1 using for loop
for i in range(-10,0):
    print(i)

In [ ]:
#reverse a given integer number
num=4321
print(str(num)[::-1])

In [ ]:
#calculate cube of given number
n=int(input("Enter the number:"))
cube=n**3
print(cube)

In [ ]:
#use a loop to display elements from a given list  prersent at odd index positions
list=[1,5,7,3,4,2]
for i in range(len(list)):
    if i%2!=0:
        print(list[i])

In [ ]:
# write a python script to generate and print a dictionary that contains a number (betweeen 1 and n) in the form (x,x*x )
n=int(input("Enter the number:"))
d= dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

In [ ]:
#write a python script to merge two python dictionaries
d1={'A':1,'B':2}
d2={'C':3}
d1.update(d2)
print("Concatenated dictionary is:")
print(d1)

In [ ]:
#program to sum all the item in a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

print(sum(my_dict.values()))

In [ ]:
#program to remove  a key from a dictionary
m = {'a': 4, 'b': 3, 'c': 6}
m.pop('a')
m

In [ ]:
#program to multiply all the item in a dictionary
my_dict = {'a': 4, 'b': 3, 'c': 6}
p=1
for x in my_dict:
    o=my_dict[x]
    p=o*p
print(p)

In [ ]:
#program to print a dictionary line by line
y = {'a': 4, 'b': 3, 'c': 6}
for key in y:
    print(key,y[key])

In [ ]:
#program to create a dictionary of keys x,y,z where each keyy has value a list from 11-20,21-30and 31-40 respectively. access the fifth value of each key from the dictionary
my_dict = {"x": list(range(11, 21)), "y": list(range(21, 31)), "z": list(range(31, 41))}

for key in my_dict:
    print(f"The fifth value of key {key} is: {my_dict[key][4]}")

In [ ]:
#program to print
#Twinkle, twinkle, little star,
#	How I wonder what you are! 
#		Up above the world so high,   		
#		Like a diamond in the sky. 
#Twinkle, twinkle, little star, 
#	How I wonder what you are
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

In [ ]:
#Write a Python program to find out what version of Python you are using
import platform
print(platform.python_version())

In [ ]:
 #Write a Python program to display the current date and time.
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
#print how many letters in a word google
a="google"
print(len(a))

In [ ]:
#print no divisible by 5 from list
list=[1,4,5,6,7,10,15]
for i in list:
    if i % 5 == 0:
        print(i)

In [ ]:
#return the count of the given substrig from a string,ie write a program to find  how many times substring  "apple" appears in the given string


txt="i like apple,apple is very healthy"
a=txt.count("apple")
print(a)

In [ ]:
list1=[60,25,79,84,6,90,80,50]

In [ ]:
#remove no>50 from given list
list1=[60,25,79,84,6,90,80,50]
l2=[]
for i in  list1:

    if i < 50 :
        l2.append(i)
print(l2)

In [ ]:
#display all the duplicate item from the list 
l5=[1,3,4,2,1,2,5,6,7,5,8,9]

for i in l5:
    if i == i:
        
print(i)

In [ ]:
import numpy as np
import  matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns 
df=sns.load_dataset('tips')

In [4]:
def area(r):
    print(3.14*r*r)
area(6)

113.03999999999999

In [5]:
dict={}
for i in range(5):
    dict[i]=i*i
print(dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}